.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  min-height: 3rem;
  font-weight: var(--font-weight-semibold);
  padding: 0 --spacing(8) 0 --spacing(8);
  transition: background-color 0.3s ease-out;
  border-radius: var(--radius-inputs);
  cursor: pointer;
}

.button.contained.--accent:enabled:hover {
  background-color: var(--color-accent-light);
}

.button.outlined.--accent:enabled:hover {
  background-color: var(--color-accent-background);
}

.button.contained:disabled {
  background-color: var(--color-gray-200);
}

.button.outlined:disabled {
  --color: var(--color-gray-200);
  border-color: var(--color);
  color: var(--color);
}
