.container {
  padding: --spacing(4);
  border-radius: var(--radius-md);
  border-color: #fff1;
  border-top-width: 1px;
  border-left-width: 1px;
  backdrop-filter: var(--blur-md);
  flex-shrink: 0;
  width: 100%;
  cursor: pointer;
}
