@import '../styles/main.css';
@import '../styles/section.css';
@import '../styles/components/button.css';
@import '../styles/components/chip.css';
@import 'tailwindcss';

:root {
  --background: #0b2547;
  --accent: #f0bd4e;
  --secondary: #f1f7ee;
}
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-background-light: hsl(from var(--background) h s 23);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-border: hsl(from var(--background) h s 18);

  --spacing-default: 1rem;
  --radius-inputs: 4px;
  --breakpoint-xs: 360px;
  --animate-slide-down: SlideDown 0.2s ease-out;
  --animate-slide-up: SlideUp 0.2s ease-out;
  --animate-slide-right: SlideRight 0.2s ease-out;

  @keyframes SlideRight {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes SlideDown {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes SlideUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translateY(0);
    }
  }
}

:root {
  --default-px-amount: --spacing(4);
}

@media (min-width: 768px) {
  :root {
    --default-px-amount: --spacing(10);
  }
}

@media (min-width: 1024px) {
  :root {
    --default-px-amount: --spacing(16);
  }
}

@media (min-width: 1280px) {
  :root {
    --default-px-amount: --spacing(32);
  }
}

@media (min-width: 1536px) {
  :root {
    --default-px-amount: --spacing(64);
  }
}

.px-default {
  padding-left: var(--default-px-amount);
  padding-right: var(--default-px-amount);
}

.py-default {
  padding-top: --spacing(24);
  padding-bottom: --spacing(24);
}

body {
  font-family: 'Inter', 'Sagoe UI', 'Courier New', Courier, monospace;
  background: var(--color-background);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a.bold {
  font-weight: var(--font-weight-semibold);
}

nav a {
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
}

textarea {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: var(--radius-inputs);
}

textarea {
  background-color: white;
  outline: none;
  border: 1px solid var(--color-border);
}

textarea {
  resize: none;
}

input[type='checkbox'] {
  border-radius: 2px;
  border: 1px solid var(--color-accent);
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none; /* Remove default appearance */
  position: relative;
  cursor: pointer;
}

/* Style the checkmark when checked */
input[type='checkbox']:checked::after {
  content: '✔'; /* Add a checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}

input[type='checkbox']:checked {
  background-color: var(--color-accent);
}

.index-link {
  color: var(--color-accent);
  background-color: none;
}
